<div class="col-md-9">
<%if admin?%>
<div class="add"><%= link_to users_finished_goods_xls_report_path(format: "xls"),:class=>"btn btn-info btn-sm" do%>
<i class="fa fa-arrow-circle-down">Download</i><%end%></div><br>
<%end%>
<h4>Finished Goods Report</h4>

<div class="table striped custab">
<table class="table">
<th>S.No</th>	
<th>Finished goods Name</th>
<th>Total No of kgs</th>
<%$ar = @arr.sort_by{|i| i[1].to_i}.reverse%>
<%t=0%>
<% $ar.each do |j| %>
<%t=t+1%>
<tr>
<td><%=t%></td>
<td><%=j[0]%></td>
<td><%=j[1].to_f.round(2)%></td>
</tr>
<%end%>
<tr>
<td></td>
<th>Total</th>
<td><%=@total.round(2)%></td></tr>
<%$fgtl=@total.round(2)%>
</table>
</div>

</div>
