<div class="bod">
	<div class="col-md-10 col-sm-8 body-wrap">
	<div class="body-container">
                  <div class="body-header">
                      Return - Issue
  <div class="add"><%= link_to users_index_return_path,:class=> "btn btn-default",:title => 'List of Returns',:rel => 'tooltip' do%><i class="fa fa-List"></i><%end%>
</div>
                    </div>
                    <div class="body-content">
                        <div class="table-container">
                        	<div class="header">
    List of Issues for Return
</div>
<table class="table">
    <thead>
<tr>
<th>Sl.No</th>
<th>Order No</th>
<th>Issue Date</th>
<th>Issue Slip No</th>
<th>Shift</th>

<th>Action</th>
</tr>
</thead>
<% if @issue.blank? then %>
<table><th>No records to display</th></table>

<% else %>


<ul id = "Issues" >
<%t=0%>
<% @issue.each do |i| %>
<% if not Ireturn.exists?(:issue_id => i.id)%>
<%t=t+1%>
<tbody>
<tr class="odd">
<td><div class="fot"><%= t %></div></td>
<td><div class="fot"><%= i.order_no%></div></td>
<td><div class="fot"><%= i.issue_date%></div></td>
<td><div class="fot"><%= i.issue_slip_no%></div></td>
<td><div class="fot"><%= i.shift%></div></td>
<% if not admin? %>
<td><%= link_to users_add_return_path(:id => i.id), class: "btn btn-default",:title => 'Add' do%>
<i class="fa fa-plus"></i><%end%>
</td>
<%end%>
</tr>
<%end%>
<%end%>
</tbody>
</ul>
<%end%>
</table>
</div>
<div class="digg_pagination" align="right">
    <%= will_paginate @issue, :container => false %>
  </div>
</div>

</div>
</div>

