<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">S.No</Data></Cell>
        <Cell><Data ss:Type="String">Finished goods Name</Data></Cell>
        <Cell><Data ss:Type="String">Total No of kgs Processed</Data></Cell>
        <Cell><Data ss:Type="String">Total Cost</Data></Cell>
        <Cell><Data ss:Type="String">Rate per kgs</Data></Cell>
        
       </Row>
       <%t=0%>
        <% $rpk.each do |i| %>
        <%t=t+1%>
      <Row>
        <Cell><Data ss:Type="String"><%= t%></Data></Cell>
        <Cell><Data ss:Type="String"><%= i[0]%></Data></Cell>
        <Cell><Data ss:Type="String"><%= i[1].to_f.round(2)%></Data></Cell> 
        <Cell><Data ss:Type="String"><%= i[2].to_f.round(2)%></Data></Cell>
        <Cell><Data ss:Type="String"><%= i[3].to_f.round(2)%></Data></Cell>
      </Row>
    <% end %>
     <Row>
       <Cell><Data ss:Type="String"></Data></Cell>
       <Cell><Data ss:Type="String">Total</Data></Cell>
       <Cell><Data ss:Type="String"><%= $rpkt1.to_f.round(2)%></Data></Cell>
       <Cell><Data ss:Type="String"><%= $rpkt2.to_f.round(2)%></Data></Cell>
       <Cell><Data ss:Type="String"><%= $rpkt3.to_f.round(2)%></Data></Cell>
      </Row>
    </Table>
  </Worksheet>
</Workbook>
