<div class = "bod">
  <div class="col-md-10 col-sm-8 body-wrap">
              <div class="body-container">
                  <div class="body-header">
                      Show Returns
                      <div class="add">
<%= link_to users_index_return_path, class: "btn btn-default",:title => 'List of Issues For Returns', :rel => 'tooltip' do %><i class="fa fa-list"></i><%end%>
</div>
                    </div>
                    <div class="body-content">
                      <div class="table-container">
<table class="table">
<tr><td>Order No</td>
<td><%= @issue.order_no %></td></tr>
<tr><td>Issue Date</td>
<td><%= @issue.issue_date %></td></tr>
<tr><td>Raw Material Qty Return</td>
<td><%= @issue.rm_qty_return %></td></tr>
<tr><td>Raw Material Issues</td>
<td><%= @issue.rm_issues %></td></tr>
<tr><td>Chemical Qty Return</td>
<td><%= @issue.chem_qty_return %></td></tr>
<tr><td>Re-Ground Rate per Kg/Nos</td>
<td><%= @issue.rg_rate.to_f.round(4) %></td></tr>
<tr><td>Grn No</td>
<td><%= @return[0].grn_no %></td></tr>
<tr><td>Created_by</td>
<td><%= @return[0].created_by %></td></tr>
<tr><td>Updated_by:</td>
<td><%= @return[0].updated_by %></td></tr>
<tr><td>Created_at:</td>
<td><%= @return[0].created_at.strftime("%m/%d/%y") %></td></tr>
<tr><td>Updated_at:</td>
<td><%= @return[0].updated_at.strftime("%m/%d/%y")%></td></tr>
</table>
</div>
</div>
</div>
</div>
